{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block css %}
{% endblock %}


{% block content %}

<!-- BEGIN: Message -->
{% include "messages.html" %}
<!-- END: Message -->

<div class="row flex">
  <div class="col-12 mt-3">
    <a href="{% url 'publishers:create' %}" class="btn btn-info btn-sm">{% trans 'Create new publisher' %}</a>
  </div>
  <div class="col-12 mt-3">
    <div class="table-responsive">
      <table class="table table-hover mb-0">
        <thead>
        <tr>
          <th class="border-top-0">{% trans 'Publisher' %}</th>
          <th class="border-top-0 text-right">{% trans 'Actions' %}</th>
        </tr>
        </thead>
        <tbody class="item-list">
        {% for item in publishers %}
        <tr>
          <td>{{ item.name }}</a></td>
          <td class="text-right text-nowrap">
            <a href="{% url 'publishers:read' item.id %}" class="btn btn-outline-primary btn-sm">
              {% trans 'Show' %}
            </a>
            <a href="{% url 'publishers:update' item.id %}" class="btn btn-outline-warning btn-sm">
              {% trans 'Update' %}
            </a>
            <a href="{% url 'publishers:delete' item.id %}"
               class="btn btn-outline-primary btn-sm modal-confirm-action"
               data-modal-text="{% trans 'Esta acción es irreversible, ¿quieres continuar?' %}"
               title="{% trans 'Borrar' %}">
              {% trans 'Delete ' %}
            </a>
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
{% endblock %}